.section {
    background-color: #1F4D36;
    color: #F2F4EA;
    font-size: 20px;
    padding-top: 4em;
    padding-bottom: 3em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.section h2 {
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 1em;
    line-height: 1em;
    text-align: center;
}

.section p {
    text-align: center;
    margin-bottom: 4em;
    line-height: 1.5em;
    width: 40%;
    font-weight: 400;
}

.section ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5em;
    color: #CFE3CC;
}

.section li {
    max-width: 300px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.section li > h4 {
    font-size: 1.5em;
    margin-top: 1em;
    font-weight: 400;
    text-align: center;
}

.section li > p {
    font-size: 1em;
    margin-top: 1em;
    text-align: center;
    font-weight: 400;
    width: 90%;
    margin-bottom: 0;
}