.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;  
    border-bottom: #dde6b1 1px solid;

    width: 100%;
    height: 100px;
    background-color: #F2F4EA;
    color: #1F4D36;
    font-size: 20px;
    align-items: center;
    justify-content: space-around;
}

.navbar a {
    color: #1F4D36;
    margin-right: 2.5em;
    border-bottom: transparent 2px solid;
    transition: all 0.5s ease;
}

.navbar a:hover {
    border-bottom: #1F4D36 2px solid;
}

.center {
    grid-column: 2;
    justify-self: center;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.right {
    grid-column: 3;
    justify-self: end;
    margin-right: 4em;
}
