.section {
    background-color: #CFE3CC;
    color: #1F4D36;
    font-size: 20px;

    padding-top: 5em;
    padding-bottom: 4em;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.sectionContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;

}

.leftColumn {
    grid-column: 1;
    display: flex;
    flex-flow: column wrap;

}

.leftColumn input {
    background-color: transparent;
    border: none;
    border-bottom: 1px #1F4D36 solid;
    margin-bottom: 2em;
    font-family: 'Roboto';
    font-size: 1.1em;
    color: #1F4D36;
    outline: none;

    padding: 0;
}

.leftColumn input:focus {
    background-color: #e3f5e0;
}

.leftColumn h2 {
    font-size: 3.5em;
    font-weight: 400;
    line-height: 1em;
    margin-top: 0.3em;
    margin-bottom: 2em;
}

.leftColumn h4 {
    font-size: 1.3em;
    font-weight: 400;
}

.buttonsContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 90%;
    gap: 1em;
    margin-top: 1.5em;
}

.rightColumn {
    grid-column: 2;
    max-width: 500px;

}