.section {
    width: 100%;
    /* height: 90vh; */
    padding-block: 5.6em;
    background-color: rgb(255, 255, 255);
    color: #1F4D36;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* width: 27em; */
    margin-right: 7em;
}

.sectionTitle {
    font-size: 7em;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 0.5em;
}

.sectionSubtitle {
    font-size: 1em;
    margin-bottom: 1em;
}

.right {
    position: relative;
    width: fit-content;
    bottom: 4em;
}

.overlayImage {
  position: absolute;
  bottom: -7rem;
  left: -5rem;
}