.heroSection {
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    color: #1F4D36;
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 27em;
    margin-right: 5em;
}

h1 {
    font-size: 7em;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 0.5em;
}

p {
    font-size: 1em;
    margin-bottom: 2em;
}

.right {
    position: relative;
    width: fit-content;

}

.overlayImage {
  position: absolute;
  bottom: -7rem;
  left: -4rem;
}