.section {
    background-color: white;
    font-size: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 10em;
    margin-bottom: 3em;
}

.sectionTitle {
    color: #1F4D36;
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    margin-top: 0.4em;
}

.sectionText {
    color: #1F4D36;
    font-size: 1em;
    text-align: center;
    max-width: 38%;
    margin-top: 3em;
    margin-bottom: 4em;
}

.sectionContent {
    display: grid;
    grid-template-columns: 56% 44%;
    width: 55%;
    margin-top: 4em;
    gap: 2em;
}

.leftColumn {
    grid-column: 1;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    color: #1F4D36;
}

.leftColumn > h3 {
    font-size: 2.6em;
    font-weight: 400;
    line-height: 1.1em;
    margin-top: 0.5em;
}

.rightColumn {
    grid-column: 2;
    max-width: 400px;
    align-self: center;
}

.sectionList {
    margin-top: 1em;
    list-style-type: none;
    line-height: 1.5em;
    width: 100%;
    margin-bottom: 1em;
}

.sectionList li {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50% auto auto;
    margin-bottom: 1.5em;

}

.sectionList h4 {
    font-weight: 400;
    font-size: 1.5em;
    grid-column: 1;
    margin-top: 0.5em;
}

.sectionList p {
    font-size: 1em;
    margin-top: 0.5em;
    line-height: 1.3em;
    grid-column: 1 / span 1;
}

.buttonContainer {
    grid-column: 2;
    justify-self: end;
}

.separator {
    background-color: #F2F4EA;
    height: 4px;
    grid-column: 1 / span 2;
    border-top: 1px solid #1F4D36;
    margin-top: 0.5em;
}