.section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 6em;
    padding-bottom: 6em;

    color: #1F4D36;
    background-color: white;
    font-size: 20px;
    width: 100%;
}

.section h2 {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    margin-top: 0.4em;
}

.section p {
    font-size: 1em;
    text-align: center;
    max-width: 38%;
    margin-top: 3em;
    margin-bottom: 4em;
}