.button {
    border: 2px solid #1F4D36;
    border-radius: 100px;
    cursor: pointer;
    height: min-content;
    width: max-content;
    font-family: 'Roboto', sans-serif;

    transition: 
        transform 0.3s ease, 
        color 0.5s ease,
        background-color 0.5s ease;
}

.sm {
    font-size: 0.8em;
    padding-block: 0.4em;
    padding-inline: 1.6em;
}

.md {
    font-size: 1em;
    padding-block: 0.6em;
    padding-inline: 2em;
}

.lg {
    font-size: 1em;
    padding-block: 0.6em;
    padding-inline: 3.7em;
}

.filled {
    background-color: #1F4D36;
    color: #F2F4EA;
}

.filled:hover {
    background-color: transparent;
    color: #1F4D36;
}

.transparent {
    background-color: transparent;
    color: #1F4D36;
}

.transparent:hover {
    background-color: #1F4D36;
    color: #F2F4EA;
}

.button:active {
    transform: scale(0.95);
}