.button {
    background-color: transparent;
    color: #1F4D36;
    border: 2px solid #1F4D36;
    border-radius: 100px;
    cursor: pointer;
    height: min-content;
    width: max-content;
    font-family: 'Roboto', sans-serif;

    transition: all 0.5s ease;
}

.button:hover {
    background-color: #1F4D36;
    color: #F2F4EA;
}

.sm {
    font-size: 0.8em;
    padding-block: 0.4em;
    padding-inline: 1.6em;
}

.md {
    font-size: 1em;
    padding-block: 0.8em;
    padding-inline: 2.4em;
}

.lg {
    font-size: 1.2em;
    padding-block: 1.2em;
    padding-inline: 3.2em;
}
